@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Poppins;
  margin: 0;
  padding: 0;
}
body[data-theme="bright"] {
  --bgb: #ffffff;
  --textb: #100f11;
  --surfaceb: #f5f5f5;
  --primaryb: #0d6efd;

  background-color: var(--bgb);
  color: var(--textb);
}
body[data-theme="dark"] {
  --bg: #140a35;
  --text: #ffffff;
  --surface: #0f006d;
  --primary: #58a6ff;

  background-color: var(--bg);
  color: var(--text);
  p {
    color: var(--text);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text);
  }
}

body[data-theme="dark"] {
  color: #ffffff !important;
}

body[data-theme="dark"] .text-primary-emphasis {
  color: #ffffff !important;
}

body[data-theme="dark"] .text-secondary-emphasis {
  color: #c9d1d9 !important;
}

body[data-theme="dark"] .navbar {
  background-color: #161b22 !important;
}

body[data-theme="dark"] .dropdown-menu {
  background-color: #161b22;
}

body[data-theme="dark"] .dropdown-item {
  color: #ffffff;
}

body[data-theme="dark"] .dropdown-item:hover {
  background-color: #21262d;
}

body[data-theme="dark"] .bg-primary-subtle {
  background-color: var(--surface) !important;
}
body[data-theme="dark"] .shadow {
  box-shadow: 0 4px 12px rgb(0, 200, 255) !important;
}
body[data-theme="dark"] .serex:hover {
  box-shadow: 0 8px 20px var(--primary) !important;
  transform: translateY(-5px);
}
body[data-theme="dark"] .accordion-button {
  background-color: var(--surface) !important;
  color: var(--text) !important;
}
body[data-theme="dark"] #recent .card {
  background-color: rgb(19, 12, 88) !important;
  color: var(--text) !important;
}

/* =========================
   THEME TRANSITION
   ========================= */

body,
.navbar,
.dropdown-menu,
.dropdown-item,
section,
.card,
.btn,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    box-shadow 0.5s ease;
}
#heroImage {
  opacity: 1;
  transform: scale(1);

  transition:
    opacity 0.3s ease,
    transform 0.4s ease;
}

#heroImage.theme-changing {
  opacity: 0;
  transform: scale(0.96);
}

/* native */
.hero .col img {
  width: 400px;
}
#about .col img {
  width: 500px;
}

section {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 510px) {
  .hero .col img {
    width: 80%;
  }

  #about .col img {
    width: 100%;
  }
}
